/* ==========================================================================
 * Global
 * ========================================================================== */

.link{
	border-bottom: 1px solid;
	transition: all .3s;
	&:hover{
		border-color: transparent;
	}
}

.inverselink{
	border-bottom: 1px solid transparent;
	transition: all .3s;
	&:hover{
		border-color: currentColor;
	}	
}

.italic{
	font-style: italic;
}

.text{
	font-size: 20px;
	line-height: 1.2;

	p{
		margin: 0 0 1em;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
